<div class="container" *ngIf="projectTask">
  <div id="details-container">
    <h2>{{projectTask.title}}</h2>
    <em>Created At: <i>{{projectTask.createdAt | date:'medium'}}</i></em>
    <hr />
    <dl>
      <dt>Assignee: </dt>
      <dd>{{projectTask.assignee}}</dd>
      <dt>Type: </dt>
      <dd data-label="Status" [ngSwitch]="projectTask.type">
        <span *ngSwitchCase="0">Story</span>
        <span *ngSwitchCase="1">Bug</span>
      </dd>
      <dt>Priority: </dt>
      <dd data-label="Status" [ngSwitch]="projectTask.priority">
        <span *ngSwitchCase="0">Low</span>
        <span *ngSwitchCase="1">Normal</span>
        <span *ngSwitchCase="2">High</span>
        <span *ngSwitchCase="3">Critical</span>
      </dd>
      <dt>Status: </dt>
      <dd data-label="Status" [ngSwitch]="projectTask.status">
        <span *ngSwitchCase="0">To Do</span>
        <span *ngSwitchCase="1">In Progress</span>
        <span *ngSwitchCase="2">Ready For Test</span>
        <span *ngSwitchCase="3">Done</span>
      </dd>
      <dt>Estimate: </dt>
      <dd>{{projectTask.estimate}}</dd>
      <dt>Description: </dt>
      <dd>{{projectTask.description}}</dd>
    </dl>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
</div>
