dl {
  padding: 15px;
}

h2 {
  text-align: left;
  margin-bottom: 5px;
}

em {
  padding: 10px 0px;
}

.container {
  padding: 5px 15px;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}

p,
dt {
  font-weight: bold;
}

dl,
dd {
  font-size: .9rem;
}

dd {
  margin-bottom: 1em;
}

