<!--<h4 id="tableLabel">This is the list for currently available projects</h4>

<table *ngIf="projects">
  <thead>
    <tr>
      <th>Name</th>
      <th>Full Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.name }}</td>
      <td><a routerLink="/projects/{{project.name | lowercase}}">{{project.name}}</a></td>
    </tr>
  </tbody>
</table>-->

<h2>Currently Available Projects</h2>
<ul class="projects">
  <li *ngFor="let project of projects">
    <a routerLink="/projects/{{project.name | lowercase}}">
      <span class="badge">11</span> {{project.name}}
    </a>
  </li>
</ul>
